others/
invoices*/

invoice_log.txt
missing.txt
surplus.txt

__pycache__/
.venv/

# pyinstaller
.venv/Scripts/pyi*.exe
*.spec
build/
dist/

# WebOffice Details
catapult_elements.py
ChromeExtension/catapultElements.js
ChromeExtension/manifest.json

# temporary files
tmp.py
tmp.html
