{
  "openapi": "3.0.0",
  "info": {
    "title": "CATAPULT Passport API Suite",
    "contact": {
      "email": "support@ecrs.com",
      "url": "https://www.ecrs.com",
      "name": "ECRS Support"
    },
    "x-logo": {
      "url": "https://static-assets.ecrs.com/wp-content/uploads/2017/11/ecrs-logo-blue.png"
    },
    "description": "---\nThe Catapult Passport API Suite describes REST-like endpoints for adding, updating, or deleting data from a CATAPULT® system.\n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->"
  },
  "servers": [
    {
      "url": "https://accountId.catapultweboffice.com/api"
    }
  ],
  "tags": [
    {
      "name": "Overview",
      "description": "---\n**Authentication**\n  * Endpoint authentication is managed by API Keys. Keys are acquired in CATAPULT Web Office and assigned to individual <a href=\"https://olm.ecrs.com/5-6/?page_id=15975\">Employee Records</a>. \n  * For security Best Practices, it is recommended to include the API Key value in the <code>X-ECRS-APIKEY</code> request header, instead of the query string, wherever possible. \n  * As an additional security measure, employee API Keys **do not** replicate between stores. This means API Keys created in a Web Office interface apply to that specific store location only. \n  * In addition, any <a href=\"https://olm.ecrs.com/5-6/?page_id=40449\">Employee Record</a> marked as Inactive, Locked, or terminated (Termination Date is populated) will not be able to use their associated API Key with any endpoint in Passport API suite; no action will be taken through the endpoints in these scenarios.\n\nWhile it is recommended that calls be made to the HQ and filtered with available parameters, authentication for calls to non-HQ Web Office addresses are possible.\nThese require the creation of separate API Keys on employee records in the respective Web Office interface. For example:\n  \n  * Employee 142 has an API Key created on their maintenance record in the HQ Web Office. This can be used to authenticate requests sent to the HQ Web Office and will only display on the employee record when viewed in the HQ Web Office interface.\n  * Employee 142 has another API Key created on their maintenance record in the RS1 Web Office. This will be used to authenticate requests sent to the RS1 Web Office and will only display on the employee record when viewed in the RS1 Web Office interface.\n  \nThe API Key visible in the HQ Web Office interface is used to authenticate HQ requests, while the API Key from the RS1 Web Office interface is used for RS1 requests.\n\n**Content Negotiation & Media Types** \\\nCatapult Passport API operations support these response content-types in the request <code>accept:</code> header:\n  \n  * application/xml\n  * application/json\n  * text/csv\n  \nAPI response content-type is determined by agent-driven, or client-based, content negotiation.\nResponse content-type will default to XML data format if the incoming request header does not describe a specific accept value.\n\n**CSV Format Requirements** \\\nXML and JSON data formats are unconditionally accepted by all Catapult Passport API endpoints. \nThe CSV data format is likewise accepted by all endpoints, provided the incoming request satisfies the neccessary formatting criteria:\n* The CSV file must always start with a header row that names each column.\n* Each column is delimited by a comma <code>,</code>.\n* Each row is delimited by 1 or more carriage return and/or newline characters.\n* A single-quote <code>'</code> character placed after a row or column delimiter will start the next row or column as quoted.\n* Quoted columns do not terminate until the next single-quote character is encountered.  \n* Single-quotes within an quoted column can be escaped by a back-slash <code>\\\\</code> character.\n* A row or column delimiter must be placed immediately after each single-quote termination (after closing a quoted row or column).\n\n**Data Type Requirements** \\\nCertain data types allow for more leeway with accepted values, while others expect a strict input format. For consistency, unless where otherwise noted and when present in a query parameter,\nthe data types listed here will acccept: \n* **Boolean** - Standard <code>true</code> or <code>false</code> values or binary <code>0</code>, <code>1</code> numeric values.\n* **Date Time** - Time-zone optional, separator-agnostic <code>YYYY-MM-DDThh:mm:ss</code> or <code>YYYY-MM-DD hh:mm:ss</code> ISO8601/RFC3339 format.\n* **Empty String** - Pair of double-quotes without a space separator, such as <code>parameter=\"\"</code>.\n* **Currency** - Standard decimial-separated USD format, such as <code>12.50</code>\n\n**Network Connectivity Requirements** \\\nPerforming requests or updates via the Passport Services API is not possible over Wide-Area-Network (WAN) connections without an active VPN. Requests are only accepted from the same environment where cardholder data is located. More specifically, requests are only accepted from non-routable RFC1918 private network addresses; communication is not possible with any cloud-based platforms or applications. \n\n**Licensing Requirements** \\\nIn order for a CATAPULT merchant - or their chosen third party - to perform requests through the Passport Services API, the CATAPULT store that contains the database where requests will be sent must have one of the following \"Passport API\" licenses enabled:\n\n  * **Passport API Read Only** - This license allows authorized personnel to submit requests to endpoints that only support <code>GET</code> methods (e.g., Transaction Journal, Items, Dynamic Promotions, etc.). Endpoints that support a variety of methods - such as Customers and Maintenance Profiles - cannot be sent requests with this license, even though they support one or more <code>GET</code> methods. In turn, this means that no updates to the merchant's CATAPULT database can be made via Passport Services API with this license. Please note, responses like \"Passport APIs are not licensed for this server\" and \"The requested service is not valid\" will be returned should a request be made to an ineligible endpoint. \n  * **Passport API Read & Write** - This license allows authorized personnel to use all Passport Services API endpoints to the fullest by submitting <code>GET</code> requests and/or performing <code>PUT</code>, <code>POST</code>, or <code>DEL</code> updates. \n  \nPlease note that unique licenses cannot be assigned to individual users of the Passport Services API for each store. Meaning, if User 1 and User 2 both needed to submit requests via the Passport Services API to a store, both users would have the same level of access (i.e., Read Only or Read/Write); User 1 could not have Read Only access while User 2 had Read/Write.\n\n**Troubleshooting**\n* All Passport API endpoints do not use an employee's assigned Authorization Security checkpoints to determine access. Instead, an employee's Inactive status is used. \n * If an employee with a valid API Key is NOT marked as \"Inactive\" (on their record in CATAPULT Web Office), then that employee will have access to query all Passport API endpoints.\n * If an employee with a valid API Key IS marked as \"Inactive\", then that employee will not be able to query any Passport API endpoint.\n* Endpoint operations are only accessible to requests that originate from the same local, non-routing private network or VPN as the HQ.\n* API events are output to the CATAPULT web server and can be found in the \\\\Tomcat X.X\\\\logs\\\\ directory, for example: api.YYYY-MM-DD.log\n* Use a unique batch number for different batch procedures. This will make it easier to identify related batch events in the batch_importMessages table and filter for a specific batch number.\n* Passport includes XML v1.1 formatting. Most browsers do not currently support XML v1.1 formatting and should therefore not be relied on, if used at all, for accurate troubleshooting. A dedicated API testing platform is recommended."
    },
    {
      "name": "Transaction Journal",
      "description": "***\nThe Transaction Journal endpoint enables you to obtain all available T-Log details and reporting data for a range \nof transaction upload times. Use **<font color=\"#2F8132\">GET</font>** to retrieve.\n\nWhen a startTime and/or endTime are entered in the request parameters, the TransactionJournal query uses\nthe timestamp from the TRN_uploadTime field to determine if a transaction should be included in the response. \nThis is an important distinction as the TRN_uploadTime defines if, and when, a transaction record \nis inserted in the HQ T-Log. As such, transactions with a TRN_uploadTime timestamp after the startTime, \nand/or before the endTime, will be returned."
    },
    {
      "name": "Items",
      "description": "***\nCATAPULT Passport API offers three endpoints that allow you to obtain data for inventory items. For each endpoint, the data is obtained via a **<font color=\"#2F8132\">GET</font>** request. The three \"Items\" endpoints are:\n  - **Detailed Search** - This endpoint allows you to query and receive item data by Receipt Alias, Item ID, or Item Group. Viewing item data at specific stores is also possible with this endpoint. \n  - **View All** - This endpoint allows you query and receive all items from all stores. Note that only a subset of the fields available on an inventory record will be included in the response with this endpoint. \n  - **Deli Item Data** - This endpoint, which is only available with CATAPULT 5.7.141 and newer, allows you to obtain item data with associated deli information and attributes (e.g., nutrition facts).\n\nSee the **Detailed Search**, **View All**, and **Deli Item Data** sections below for more information on each endpoint."
    },
    {
      "name": "Customers",
      "description": "***\nThe Customer endpoint provides a means to quickly view, create or update customer records outside your Web Office interface.\n\nUse **<font color=\"#2F8132\">GET</font>** to obtain customer information that already exists in your database. You can provide a particular\ncustomerId to check individual records or, by leaving the customerId parameter blank, check all available records. \nUse **<font color=\"#95507C\">PUT</font>** to create new customer records or update existing ones. \nBe sure the Web Office login associated with the apikey in the **<font color=\"#95507C\">PUT</font>** request has the necessary Add Customer, Edit Customer \nAuthorization Security checkpoints enabled. That security access will be inherited by the request."
    },
    {
      "name": "Dynamic Promotions",
      "description": "***\n**Available with CATAPULT 5.6.116+.**\n\nThe Dynamic Promotion Details endpoint allows you to query and <font color=\"#2F8132\">GET</font> details about active Dynamic Promotions within a \nspecified date range. These details include the Dynamic Promotion Name, Schedules, the Store Coupon required to fire the Dynamic Promotion, and more. \nSee the **Responses** in the *Get Dynamic Promotion Details* section below for a complete list of the \ndetails you can <font color=\"#2F8132\">GET</font> about a Dynamic Promotion with this endpoint. \n\n**Notes**\n   - Details about Dynamic Promotions outside of the specified date range will not be returned.\n   - When performing this query, Item Groups and individual items are returned in the Responses. If you have constructed Item Groups with a large number of items (e.g., 100,000 or more), and attached those Item Groups to the Dynamic Promotions returned within the query parameters, the performance of this endpoint may be impacted. Specifically, it may take an extended period of time for the responses to be returned.\n   - Due to the data being separated by ASCII control characters GS (Group Separator) and RS (Record Separator), the CSV response for this endpoint becomes less useful, as most text editors fail to render those characters. Instead, the recommendation is to use either the JSON or XML response output for this endpoint."
    },
    {
      "name": "Maintenance Profiles",
      "description": "***\nMaintenance Profiles include endpoints that enable you to obtain or modify information on the more nuanced elements of your CATAPULT data,\nsuch as customer/store coupons and departments. Additional profile endpoints are in development and will be released with supporting information as they become available.\n\nThe **Customer Store Coupon Management** endpoint enables you to obtain a list of, attach new, and remove existing Customer Store Coupons \nassociated to a customer. Also use it change existing Store Coupon expiration dates. \n**<font color=\"#2F8132\">GET</font>** will let you view existing Customer Store Coupons; \n**<font color=\"#95507C\">PUT</font>** will allow you to attach and change the expiration dates; \n**<font color=\"#CC3333\">DELETE</font>** will remove the coupon from a specified record.\n\nThe **Department Detail** endpoint enables read-only information requests on your item hierarchy departments. \n**<font color=\"#2F8132\">GET</font>** will let you view details for all departments or, if specified in the request, a certain one.\n\nThe **Membership Profile** endpoint allows you to query, create, or update membership profiles.  \n**<font color=\"#2F8132\">GET</font>** lets you find information about existing Membership Profiles, \nwhile **<font color=\"#95507C\">PUT</font>** will have you create new and update existing records.\n\nThe **Supplier Detail** endpoint enables read-only information requests on supplier (vendor) records in your database.  \nUse **<font color=\"#2F8132\">GET</font>** to view details for all available suppliers. Requests can be filtered using optional parameters."
    },
    {
      "name": "Purchase Orders",
      "description": "***\n**Available in CATAPULT version 5.6.97 and greater,** all **<font color=\"#95507C\">PUT</font>** Purchase Order endpoints provide a means to query, create, or update non-committed purchase order worksheets. Likewise, available with CATAPULT version 5.6.117 and greater, the **<font color=\"#2F8132\">GET</font>** endpoint provides a means to obtain order details about committed and non-committed worksheets.\nOperations will respond with a simple confirmation on success or provide details on the cause and related item(s) on failure.\nYou may optionally use the endpoints to submit a new worksheet, modify the inventory records and details associated with that worksheet, and finally commit the worksheet all outside of Web Office.\nEndpoints conditionally support both <a href=\"https://olm.ecrs.com/5-6/?page_id=1873\">Conventional</a> and <a href=\"https://olm.ecrs.com/5-6/?page_id=1871\">Receive-Only</a> purchase orders; see parameters for specifics.\n\n**Purchase Order Header** enables you to update the status of a purchase order worksheet. Use **<font color=\"#95507C\">PUT</font>** to pass worksheet parameters to the server. Use the CREATE action(s) to start a new order, the EDIT action to modify an order, the SUBMIT action to process the worksheet into to the Ordered state, and COMMIT action to finalize the worksheet and close the order. Worksheets must have an <code>invoiceNumber</code> to allow commits. In CATAPULT version 5.6.117 and newer, the purchaseOrderId is returned upon a successful call to this endpoint.\n\n**Purchase Order Items** enables you to modify specific rows and item associations on a particular worksheet. Use **<font color=\"#95507C\">PUT</font>** to add/update/remove worksheet items.     "
    },
    {
      "name": "Price Changes",
      "description": "***\nThe Price Change Detail endpoint provides a means to query price change worksheets. \n**<font color=\"#2F8132\">GET</font>** will let you retrieve worksheet data from within a defined date range."
    },
    {
      "name": "Inventory Adjustments",
      "description": "***\nThere are three endpoints available for <a href=\"https://olm.ecrs.com/5-6/?page_id=1727\"> Inventory Adjustment worksheets</a> in CATAPULT Web Office. Specifically:\n   1. Inventory Adjustment Details \n   2. Inventory Adjustment Header (create/edit/commit)\n   3. Inventory Adjustment Items (add)\n   \n**Available with CATAPULT 5.6.98+,** the *Inventory Adjustment Details* endpoint allows you to query and **<font color=\"#2F8132\">GET</font>** data about committed Inventory Adjustment worksheets. \n  This worksheet data includes:\n   - Worksheet Name\n   - Timestamp Committed\n   - Item ID\n   - Item Description (Receipt Alias)\n   - Adjustment Quantity (positive or negative)\n   - Base Item Adjustment Quantity\n   - Adjustment Reason\n   - Adjustment Memo\n   \n**Available with CATAPULT 5.6.117+**, the *inventoryAdjustmentHeader* endpoint allows you to create new Inventory Adjustment worksheets, make edits to the Memo or Worksheet Name fields, or even commit the worksheet. These actions are done through **<font color=\"#95507C\">PUT</font>** commands.\n\n**Available with CATAPULT 5.6.118+**, the *inventoryAdjustmentItems* endpoint allows you to add items to Inventory Adjustment worksheets.  These actions are done through **<font color=\"#95507C\">PUT</font>** commands."
    },
    {
      "name": "Physical Inventory",
      "description": "***\n**Available with CATAPULT 5.6.98+.** The Physical Inventory Details endpoint allows you to perform an HTTP <font color=\"#2F8132\">GET</font> query and obtain data from committed <a href=\"https://olm.ecrs.com/5-6/?page_id=1795\"> Physical Inventory worksheets</a>. \nThis worksheet data includes:\n   - Worksheet Name\n   - Timestamp Committed\n   - Item ID\n   - Item Description\n   - Prior On Hand Count\n   - New On Hand Count         "
    },
    {
      "name": "Summary Item Data",
      "description": "***\n**Available with CATAPULT 5.6.99+.** The Summary Item Data endpoint allows you to perform a HTTP <font color=\"#2F8132\">GET</font> query to obtain summarized transaction data for Items OR Departments over a date range for a specific store.\n\nThe summarized **Department** data includes:\n   - Department Number\n   - Department Name\n   - (Net) quantity sold within the Department over the specified period\n   - Extended cost of the items sold within the Department over the specified period\n   - (Net) sales of the Department over the specified period\n   - Store Number\n   - Store Name\n   \nThe summarized **Item** data includes:\n   - Item ID\n   - Item Description (Receipt Alias)\n   - (Net) quantity sold of the item over the specified period\n   - Extended cost of the item sold over the specified period\n   - (Net) sales of the item over the specified period\n   - Store Number\n   - Store Name\n   "
    },
    {
      "name": "Summary Financials",
      "description": "***\n**Available with CATAPULT 5.6.117+**\nThe Summary Financials endpoint allows you to perform a HTTP <font color=\"#2F8132\">GET</font> query to obtain summarized financial data over a date range for a specific store or list of stores. The data returned will be all data collected and summarized for a 24-hour period for the specified store(s).\n\nThe summarized data includes:\n   - Date\n   - Store ID\n   - Store Name\n   - Type of Financial Data\n    - Buydowns\n    - Discounts - Line Item\n    - Discounts - Subtotal\n    - Discounts - Excluded\n    - Drawer Loans\n    - Dynamic Promotions\n    - Dynamic Promotions - Excluded\n    - Negatives (i.e., All Voids, Item Corrects, Returns, No Sale)\n    - Paid Ins / Paid Outs\n    - Safe Drops\n    - Taxes\n    - Taxes - Exempt\n    - Tenders\n    - Totals (i.e., Gross Sales, Gross Sales - Training Mode)\n    - Vendor Coupons\n   - Name or Description of the Financial Data Type (e.g., \"Cash\")\n   - Amount of the Financial Data (e.g., total amount of the \"Cash\" Tender collected)\n   - Count of the Financial Data (e.g., how many Tenders were collected)\n   - Omit from Sales Indicator\n   - Foreign Currency Exchange Rate\n   - Foreign Currency Amount\n   "
    },
    {
      "name": "File Cache",
      "description": "***\n**Available with CATAPULT 5.6.120+**\nThe **<code>filecache</code>** endpoint allows you to perform a **<font color=\"#2774B8\">POST</font>** request to the CATAPULT Database to place a text file into the File Cache table. When a text file is placed in the database through this endpoint, other ECRS applications - such as Gateway - can reference and use the files as needed (e.g., pick the file up and move it to a specific destination). The specific CATAPULT Database where the file will be placed will be determined by the location where this endpoint is used. For example, if the **<font color=\"#2774B8\">POST</font>** request is made from the Headquarters location, the file will be placed in the Headquarters CATAPULT Database. \n   "
    },
    {
      "name": "Gift Cards",
      "description": "***\n**Only Available with CATAPULT 5.7.135+**\n\nThis endpoint is associated with creating and updating CATAPULT self-hosted Gift Cards within your store's CATAPULT database. This endpoint is in no way associated with - or has any affect on - Gift Card services or providers used/hosted outside of CATAPULT. \n\nCurrently, this endpoint only contains the <code>/giftCardBulk</code> request method. This method allows you to perform a **<font color=\"#2774B8\">POST</font>** request to the CATAPULT Database to create and activate a bulk set of Electronic Gift Cards (i.e., E-Gift Cards). See the **Create E-Gift Cards in Bulk** section for more details."
    },
    {
      "name": "Batch Updates",
      "description": "***\n### Overview\n  - The Batch Update endpoints are extensions of the Staging Tables procedures, and as such are only used when the Staging Tables module is present on a database. Each Batch Update endpoint is used for bulk additions and modifications to a specific dataset or task, such as inventory and suppliers or worksheet processing and promotion configuration.The Batch Update endpoints are the recommended method for secure manipulation of data outside of the Web Office interface.\n  - These are commonly used for synchronizing data from Legacy systems during migration or the automatition of certain tasks. Each endpoint is limited to **<font color=\"#2774B8\">POST</font>** requests unless where noted otherwise in the operation description.\n  - External links to the CATAPULT Online Manual (OLM) are included for additional clarification of terms, fields, parameters, and data points where applicable.\n  \n### Notes\n  - When any of the Batch Update endpoints are used, the associated data is temporarily stored in a table within the CATAPULT database at the store (where the endpoint was used). After the data is processed for any of the endpoints, the table will be automatically cleared/purged to prevent bloat. This self-cleaning behavior cannot be changed or modified, and no action is required for it to occur.\n  - **With CATAPULT 5.7.142 and newer**, if the Staging Tables are used outside of the Batch Update endpoints, please note that the database tables associated with each endpoint - except for <code>batch_ImportMessages</code> - will be cleared upon database restart. "
    }
  ],
  "paths": {
    "/Customer": {
      "get": {
        "summary": "View & Search",
        "operationId": "get-customer",
        "tags": [
          "Customers"
        ],
        "description": "<font color=\"#2F8132\">Use with a GET request to retrieve data from customer records.\nLimit results by <code>customerId</code> and/or <code>modifiedSince</code>, \nor exclude optional parameters to return all available data.</font>",
        "parameters": [
          {
            "schema": null,
            "$ref": "#/components/parameters/0"
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 16
            },
            "in": "query",
            "name": "customerId",
            "description": "The unique ID of a customer record. To request data for all customer records, do not send this parameter.\n\nSee also: <a href=\"https://olm.ecrs.com/5-6/?page_id=534\">Customer ID</a>.",
            "example": "401234567890"
          },
          {
            "schema": {
              "type": "datetime"
            },
            "in": "query",
            "name": "modifiedSince",
            "description": "Last modified date. Filters response data by <code>cus_timestamp</code>. \nAccepts date-only <code>YYYY-MM-DD</code> or full datetime <code>YYYY-MM-DD hh:mm:ss</code>.\nTo request data for all customer records, do not send this parameter. \n\nNote: Use datetime format to further refine search results from a date-only request.''"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "root": {
                      "type": "object",
                      "properties": {
                        "row": {
                          "$ref": "#/components/schemas/customers"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Simple XML Response": {
                    "$ref": "#/components/examples/GET-XML"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/customers"
                  },
                  "examples": {
                    "Simple JSON Response": {
                      "$ref": "../schemas/customers.examples.yaml#/components/examples/GET-JSON"
                    }
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/customers"
                  }
                },
                "examples": {
                  "Simple CSV Response": {
                    "$ref": "#/components/examples/GET-CSV"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/xml": {
                "examples": {
                  "Customer Not Found": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<SQLerror message=\"RAISERROR executed: Customer ID not found\"/>"
                  }
                }
              },
              "application/json": {
                "examples": {
                  "jsonObject": {
                    "value": {
                      "code": 4,
                      "message": "RAISERROR executed: Customer ID not found"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://accountid.catapultweboffice.com/api/Customer?apikey=BP82MIFJTSJ5EP4MQCBDW7WYYVV0RPQ0&customerId=401234567890&modifiedSince=SOME_DATETIME_VALUE'"
          },
          {
            "lang": "Java + Nethttp",
            "source": "HttpRequest request = HttpRequest.newBuilder()\n    .uri(URI.create(\"https://accountid.catapultweboffice.com/api/Customer?apikey=BP82MIFJTSJ5EP4MQCBDW7WYYVV0RPQ0&customerId=401234567890&modifiedSince=SOME_DATETIME_VALUE\"))\n    .method(\"GET\", HttpRequest.BodyPublishers.noBody())\n    .build();\nHttpResponse<String> response = HttpClient.newHttpClient().send(request, HttpResponse.BodyHandlers.ofString());\nSystem.out.println(response.body());"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://accountid.catapultweboffice.com/api/Customer?apikey=BP82MIFJTSJ5EP4MQCBDW7WYYVV0RPQ0&customerId=401234567890&modifiedSince=SOME_DATETIME_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Javascript + Axios",
            "source": "import axios from \"axios\";\n\nconst options = {\n  method: 'GET',\n  url: 'https://accountid.catapultweboffice.com/api/Customer',\n  params: {\n    apikey: 'BP82MIFJTSJ5EP4MQCBDW7WYYVV0RPQ0',\n    customerId: '401234567890',\n    modifiedSince: 'SOME_DATETIME_VALUE'\n  }\n};\n\naxios.request(options).then(function (response) {\n  console.log(response.data);\n}).catch(function (error) {\n  console.error(error);\n});"
          }
        ]
      },
      "put": {
        "operationId": "put-customer",
        "summary": "Edit & Update",
        "tags": [
          "Customers"
        ],
        "description": "<font color=\"#95507C\">Use the customer endpoint with a PUT request to insert new, or update existing, customer records in your CATAPULT database. The lastName\nparameter is only required for new customer records. Note that this operation is limited to the creation and modification of customer maintenance records. It **does not** \ncreate Discounts, Price Levels, Check Profiles, or Membership Profiles. These must be created separately, either in WebOffice or by a supported API endpoint,\nbefore being used in a request parameter with the customer endpoint.</font>",
        "parameters": [
          {
            "schema": null,
            "$ref": "#/components/parameters/0"
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 16
            },
            "in": "query",
            "name": "customerId",
            "description": "If this field’s value is not specified, then a new Customer will be created, with a Customer ID determined automatically.\n\nGenerated Customer ID's will be 12-digit integers, starting with a 4, and ending with a GS1 UPC/EAN-compliant check digit.\n\nIf this field’s value is specified, a new Customer will be created (or updated if already existing) having the specified Customer ID."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 25
            },
            "in": "query",
            "name": "firstName",
            "description": "This field contains the Customer’s First Name."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 25
            },
            "in": "query",
            "name": "lastName",
            "description": "This field contains the Customer’s Last Name.\n\nRequired for new records."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 25
            },
            "in": "query",
            "name": "middleName",
            "description": "This field contains the Customer’s Middle Name."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 25
            },
            "in": "query",
            "name": "nickName",
            "description": "This field contains the Customer’s Alias."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 30
            },
            "in": "query",
            "name": "prefix",
            "description": "This field contains the Customer’s Prefix (Rev., Mrs., Mr., etc.)."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 30
            },
            "in": "query",
            "name": "suffix",
            "description": "This field contains the Customer’s Suffix (Jr.,Sr.,MD., etc.)."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 25
            },
            "in": "query",
            "name": "title",
            "description": "This field contains the Customer’s Title."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 50
            },
            "in": "query",
            "name": "company",
            "description": "This field contains the Company associated with the Customer."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 254
            },
            "in": "query",
            "name": "memo",
            "description": "This field contains a string for entering notes about the Customer to save to the record."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 30
            },
            "in": "query",
            "name": "automaticDiscount",
            "description": "Enter name of the Automatic Discount to apply on a Customer's record. Send empty string to remove an Automatic Discount from existing customer record.\n\n**Warning:** If the specified Discount does not exist, an error will be returned and the record will not be created or updated.\n\nIf an Automatic Discount is specified, it will take priority over Automatic Discount Groups entered in the same query and remove those that already exist on the customer record. \nRecords cannot have both an Automatic Discount and an Automatic Discount Group."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "automaticDiscountGroup",
            "description": "This field contains the name of the Automatic Discount Group to apply to a Customer. Send empty string to remove an Automatic Discount Group from the customer record.\n\n**Warning:** If the specified Discount Group does not exist, an error will be returned and the record will not be created or updated.\n\nIf an Automatic Discount is specified in the same query, then any entered Automatic Discount Group will be blocked/dropped. \nRecords cannot have both an Automatic Discount and an Automatic Discount Group."
          },
          {
            "schema": {
              "type": "tinyint"
            },
            "in": "query",
            "name": "priceLevel",
            "description": "This field contains the Price Level assigned to the Customer. You may specify the name of the Price Level or the number (1, 2, 3, or 4).\n\n**Warning:** If the specified Price Level does not exist, an error will be returned and the record will not be created or updated."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 30
            },
            "in": "query",
            "name": "powerField1",
            "description": "This field contains the value of Power Field 1."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "powerField2",
            "maxLength": 30,
            "description": "This field contains the value of Power Field 2."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 30
            },
            "in": "query",
            "name": "powerField3",
            "description": "This field contains the value of Power Field 3."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 30
            },
            "in": "query",
            "name": "powerField4",
            "description": "This field contains the value of Power Field 4."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 30
            },
            "in": "query",
            "name": "powerField5",
            "description": "This field contains the value of Power Field 5."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 30
            },
            "in": "query",
            "name": "powerField6",
            "description": "This field contains the value of Power Field 6."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 30
            },
            "in": "query",
            "name": "powerField7",
            "description": "This field contains the value of Power Field 7."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 30
            },
            "in": "query",
            "name": "powerField8",
            "description": "This field contains the value of Power Field 8."
          },
          {
            "schema": {
              "type": "date"
            },
            "in": "query",
            "name": "birthDate",
            "description": "This field contains the Customer’s Birth Date (YYYY-MM-DD)."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "loyaltyEnabled",
            "description": "This field is set to True if the Customer is to accrue Loyalty Points, False otherwise. For new Customers, true is assumed if the default accrual rate for new Customers is set in headquarters' Transaction Security Profile."
          },
          {
            "schema": {
              "type": "number",
              "format": "double"
            },
            "in": "query",
            "name": "loyaltyAccrualMultiplier",
            "description": "This field contains the Accrual Rate Multiplier of the new Customer (must be between 0 and 10 inclusive)."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "suppressReceipt",
            "description": "This field is set to true to opt the Customer out of paper receipts, false otherwise."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 254
            },
            "in": "query",
            "name": "checkFileMemo",
            "description": "This field contains a string for entering notes related to the Customer’s Check File."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 30
            },
            "in": "query",
            "name": "checkAcceptanceProfile",
            "description": "This field contains the name of the Customer’s Check Profile.\n\n**Warning:** If the specified Check Profile does not exist, an error will be returned and the record will not be created or updated."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 30
            },
            "in": "query",
            "name": "membershipAccount",
            "description": "This field contains the Customer’s Membership Account ID.\n\n**Warning:** If the specified Membership Profile does not exist, an error will be returned and the record will not be created or updated."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 50
            },
            "in": "query",
            "name": "billToAddressLine1",
            "description": "This field contains the first line of the Customer’s street address.\n\n**Warning:** If not specified, the remaining billToAddress parameters will be ignored."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 50
            },
            "in": "query",
            "name": "billToAddressLine2",
            "description": "This field contains the second line of the Customer’s street address."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 20
            },
            "in": "query",
            "name": "billToAddressCity",
            "description": "This field contains the city of the Customer’s street address."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 2
            },
            "in": "query",
            "name": "billToAddressStateProv",
            "description": "This field contains the state or province of the Customer’s street address."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 15
            },
            "in": "query",
            "name": "billToAddressPostalCode",
            "description": "This field contains the postal code of the Customer’s street address."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 30
            },
            "in": "query",
            "name": "billToAddressDescription",
            "description": "This field contains a brief description of the Customer’s street address. If not specified, this field defaults to “Home”."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 254
            },
            "in": "query",
            "name": "billToEmailAddress",
            "description": "This field contains the Customer’s email address."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 30
            },
            "in": "query",
            "name": "billToEmailDescription",
            "description": "This field contains a brief description of the Customer’s email address. If not specified, this field defaults to “Home”."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "billToEmailMarketing",
            "description": "If this field is set to true, the specified e-mail address will be opted in for LoyaltyBot. If this field is set to false, the specified email address will be opted out for LoyaltyBot."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "billToEmailReceipt",
            "description": "If this field is set to true, the specified e-mail address is opted in for eReceipt.; If this field is set to false, the specified e-mail address is opted out for eReceipt."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 14
            },
            "in": "query",
            "name": "billToPhoneNumber",
            "description": "This field contains the Customer’s Phone Number."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 30
            },
            "in": "query",
            "name": "billToPhoneDescription",
            "description": "This field contains a brief description of the Customer’s Phone Number."
          },
          {
            "schema": {
              "type": "date"
            },
            "in": "query",
            "name": "membershipAccountJoined",
            "example": "2021-01-01",
            "description": "This field contains the date the Customer obtained Membership in the Store (YYYY-MM-DD HH:MM:SS.sss)."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "hideInLookup",
            "example": false,
            "description": "If this field is set to true, the specified customer will be hidden from POS lookup screens."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "membershipInactive",
            "example": false,
            "description": "Accepts true or false. Updates the membership inactive option. \n\n*Available in versions 5.5.4.142 and greater.*"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "customerInactive",
            "example": false,
            "description": "Accepts true or false. Updates the customer inactive option.\n\n*Available in versions 5.5.4.142 and greater.*"
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 30
            },
            "in": "query",
            "name": "loyaltyProgram",
            "example": "",
            "description": "Selects a loyalty program to import Loyalty Points into. When omitted or not valid, the default loyalty program is selected"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "loyaltyPoints",
            "example": "1",
            "description": "Imports a positive or negative loyalty point value. Value is points where 1 = 1.00 or 100 points. .01 = 0.01 or 1 single point"
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 16
            },
            "in": "query",
            "name": "householdMainCustomerId",
            "example": "",
            "description": "This customer account ID that is desired to be the Parent. \nNone of the household details are considered without this field. \nThis replaces whatever is currently on the customer record. \nPass <code>none</code> for this parameter value to remove all household data for the customer record."
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 30
            },
            "in": "query",
            "name": "householdRelation",
            "example": "",
            "description": "Text describing the relationship to the head of household, optional. \n\n*Available in versions 5.5.4.210 and greater.*"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "householdCanRedeem",
            "example": false,
            "description": "Defaults to true if not sent. Enables the household member to use the head of household loyalty points.\n\n*Available in versions 5.5.4.210 and greater.*"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "householdCanCharge",
            "example": false,
            "description": "Defaults to false if not sent. Enables the household member to use the head of household charge account.\n\n*Available in versions 5.5.4.210 and greater.*"
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 254,
              "enum": [
                "type%1dname%1dbirthdate",
                "none"
              ]
            },
            "in": "query",
            "name": "dependentsList",
            "description": "List of dependents and their attributes (type, name, birthdate; birthDate is optional). The records in this list are delimited by ascii code RS (30 or hex 1e). The fields in the record are delimited by ascii code GS(29 or hex 1d). Added in 5.5.4.216 or better.\n  Supply dependent attributes <code>type</code>, <code>name</code>, and <code>birthDate</code> (birthDate is optional) to add dependent(s) on a customer record.<sup>1</sup> \nPass keyword <code>none</code> as a request value for this parameter to remove all dependents from a customer record.<sup>2</sup>\n* Listed dependent records are delimited by ascii code RS30 or hex <code>%1e</code>. \n* Dependent attributes are delimited by ascii code GS29 or hex <code>%1d</code>. \n example: \"Friend%1dJohn%1d1980-01-05%1ePet%1dFido%1d\"",
            "example": "dependentsList=Friend\\John\\2022-01-05\\Pet\\William\\"
          },
          {
            "schema": {
              "type": "string",
              "maxlength": 254
            },
            "in": "query",
            "name": "taxExemption",
            "description": "Pass the name(s) of a tax to update customer record. Use group separator <code>%1d</code> to pass multiple tax exemptions onto a record. Use keyword <code>none</code> to remove all tax exemptions from a record. For example:\n* <code>.../Customer?customerID=722&taxExemption=Tax_121</code> will add tax exemption named Tax121 on  customer record 722.\n* <code>.../Customer?customerID=723&taxExemption=none</code> will remove all tax exemptions from customer record 723.\nSee also: <a href=\"https://olm.ecrs.com/5-6/?page_id=763\">Taxes</a>, <a href=\"https://olm.ecrs.com/5-6/?page_id=960#tax-name\">Navigating & Understanding the Tax Generator (Tax Name)</a>.",
            "example": "GA_Gizmonic%1dVA_Deep13"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "PF"
              ]
            },
            "in": "query",
            "name": "taxExemptionType",
            "description": "Use this parameter coupled with the one above to affect bulk tax exemptions onto a customer record where the selected taxes each have the same Tax PowerField value as supplied in the request. For example:\n* <code>...?customerID=724&taxExemptionType=PF&taxExemption=GA</code> will add all taxes with a PowerField value of GA as exemptions on customer record 724.\n**Warning:** Disabled by default. Enable parameter by Global Advanced Setting in HQ Web Office: \n* KEY: enableTaxPowerfield\n* VALUE: true\nSee also: <a href=\"https://olm.ecrs.com/5-6/?page_id=960#tax-powerfield\">Navigating & Understanding the Tax Generator (Tax PowerField)</a>, <a href=\"https://olm.ecrs.com/5-6/?page_id=751#overview\">Advanced Settings</a>.\n*<sup>1</sup>Available in versions 5.5.4.216 and greater.* \\\n*<sup>2</sup>Available in versions 5.6.94 and greater.*",
            "example": "PF&taxExemption=VA"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "root": {
                      "type": "object",
                      "properties": {
                        "row": {
                          "$ref": "#/components/schemas/customers"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Simple XML Confirmation Response": {
                    "$ref": "#/components/examples/PUT-XML"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/customers"
                  }
                },
                "examples": {
                  "Simple JSON Confirmation Response": {
                    "$ref": "#/components/examples/PUT-JSON"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/customers"
                  }
                },
                "examples": {
                  "Simple XML Confirmation Response": {
                    "$ref": "#/components/examples/PUT-CSV"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/xml": {
                "examples": {
                  "Bad Request": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<SQLerror message=\"RAISERROR executed: lastName is required for new customers\"/>"
                  }
                }
              },
              "application/json": {
                "examples": {
                  "jsonObject": {
                    "value": {
                      "code": 4,
                      "message": "RAISERROR executed: lastName is required for new customers"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request PUT \\\n  --url 'https://accountid.catapultweboffice.com/api/Customer?apikey=BP82MIFJTSJ5EP4MQCBDW7WYYVV0RPQ0&customerId=SOME_STRING_VALUE&firstName=SOME_STRING_VALUE&lastName=SOME_STRING_VALUE&middleName=SOME_STRING_VALUE&nickName=SOME_STRING_VALUE&prefix=SOME_STRING_VALUE&suffix=SOME_STRING_VALUE&title=SOME_STRING_VALUE&company=SOME_STRING_VALUE&memo=SOME_STRING_VALUE&automaticDiscount=SOME_STRING_VALUE&automaticDiscountGroup=SOME_STRING_VALUE&priceLevel=SOME_TINYINT_VALUE&powerField1=SOME_STRING_VALUE&powerField2=SOME_STRING_VALUE&powerField3=SOME_STRING_VALUE&powerField4=SOME_STRING_VALUE&powerField5=SOME_STRING_VALUE&powerField6=SOME_STRING_VALUE&powerField7=SOME_STRING_VALUE&powerField8=SOME_STRING_VALUE&birthDate=SOME_DATE_VALUE&loyaltyEnabled=SOME_BOOLEAN_VALUE&loyaltyAccrualMultiplier=SOME_NUMBER_VALUE&suppressReceipt=SOME_BOOLEAN_VALUE&checkFileMemo=SOME_STRING_VALUE&checkAcceptanceProfile=SOME_STRING_VALUE&membershipAccount=SOME_STRING_VALUE&billToAddressLine1=SOME_STRING_VALUE&billToAddressLine2=SOME_STRING_VALUE&billToAddressCity=SOME_STRING_VALUE&billToAddressStateProv=SOME_STRING_VALUE&billToAddressPostalCode=SOME_STRING_VALUE&billToAddressDescription=SOME_STRING_VALUE&billToEmailAddress=SOME_STRING_VALUE&billToEmailDescription=SOME_STRING_VALUE&billToEmailMarketing=SOME_BOOLEAN_VALUE&billToEmailReceipt=SOME_BOOLEAN_VALUE&billToPhoneNumber=SOME_STRING_VALUE&billToPhoneDescription=SOME_STRING_VALUE&membershipAccountJoined=2021-01-01&hideInLookup=false&membershipInactive=false&customerInactive=false&loyaltyProgram=&loyaltyPoints=1&householdMainCustomerId=&householdRelation=&householdCanRedeem=false&householdCanCharge=false&dependentsList=dependentsList%3DFriend%5CJohn%5C2022-01-05%5CPet%5CWilliam%5C&taxExemption=GA_Gizmonic%251dVA_Deep13&taxExemptionType=PF%26taxExemption%3DVA'"
          },
          {
            "lang": "Java + Nethttp",
            "source": "HttpRequest request = HttpRequest.newBuilder()\n    .uri(URI.create(\"https://accountid.catapultweboffice.com/api/Customer?apikey=BP82MIFJTSJ5EP4MQCBDW7WYYVV0RPQ0&customerId=SOME_STRING_VALUE&firstName=SOME_STRING_VALUE&lastName=SOME_STRING_VALUE&middleName=SOME_STRING_VALUE&nickName=SOME_STRING_VALUE&prefix=SOME_STRING_VALUE&suffix=SOME_STRING_VALUE&title=SOME_STRING_VALUE&company=SOME_STRING_VALUE&memo=SOME_STRING_VALUE&automaticDiscount=SOME_STRING_VALUE&automaticDiscountGroup=SOME_STRING_VALUE&priceLevel=SOME_TINYINT_VALUE&powerField1=SOME_STRING_VALUE&powerField2=SOME_STRING_VALUE&powerField3=SOME_STRING_VALUE&powerField4=SOME_STRING_VALUE&powerField5=SOME_STRING_VALUE&powerField6=SOME_STRING_VALUE&powerField7=SOME_STRING_VALUE&powerField8=SOME_STRING_VALUE&birthDate=SOME_DATE_VALUE&loyaltyEnabled=SOME_BOOLEAN_VALUE&loyaltyAccrualMultiplier=SOME_NUMBER_VALUE&suppressReceipt=SOME_BOOLEAN_VALUE&checkFileMemo=SOME_STRING_VALUE&checkAcceptanceProfile=SOME_STRING_VALUE&membershipAccount=SOME_STRING_VALUE&billToAddressLine1=SOME_STRING_VALUE&billToAddressLine2=SOME_STRING_VALUE&billToAddressCity=SOME_STRING_VALUE&billToAddressStateProv=SOME_STRING_VALUE&billToAddressPostalCode=SOME_STRING_VALUE&billToAddressDescription=SOME_STRING_VALUE&billToEmailAddress=SOME_STRING_VALUE&billToEmailDescription=SOME_STRING_VALUE&billToEmailMarketing=SOME_BOOLEAN_VALUE&billToEmailReceipt=SOME_BOOLEAN_VALUE&billToPhoneNumber=SOME_STRING_VALUE&billToPhoneDescription=SOME_STRING_VALUE&membershipAccountJoined=2021-01-01&hideInLookup=false&membershipInactive=false&customerInactive=false&loyaltyProgram=&loyaltyPoints=1&householdMainCustomerId=&householdRelation=&householdCanRedeem=false&householdCanCharge=false&dependentsList=dependentsList%3DFriend%5CJohn%5C2022-01-05%5CPet%5CWilliam%5C&taxExemption=GA_Gizmonic%251dVA_Deep13&taxExemptionType=PF%26taxExemption%3DVA\"))\n    .method(\"PUT\", HttpRequest.BodyPublishers.noBody())\n    .build();\nHttpResponse<String> response = HttpClient.newHttpClient().send(request, HttpResponse.BodyHandlers.ofString());\nSystem.out.println(response.body());"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://accountid.catapultweboffice.com/api/Customer?apikey=BP82MIFJTSJ5EP4MQCBDW7WYYVV0RPQ0&customerId=SOME_STRING_VALUE&firstName=SOME_STRING_VALUE&lastName=SOME_STRING_VALUE&middleName=SOME_STRING_VALUE&nickName=SOME_STRING_VALUE&prefix=SOME_STRING_VALUE&suffix=SOME_STRING_VALUE&title=SOME_STRING_VALUE&company=SOME_STRING_VALUE&memo=SOME_STRING_VALUE&automaticDiscount=SOME_STRING_VALUE&automaticDiscountGroup=SOME_STRING_VALUE&priceLevel=SOME_TINYINT_VALUE&powerField1=SOME_STRING_VALUE&powerField2=SOME_STRING_VALUE&powerField3=SOME_STRING_VALUE&powerField4=SOME_STRING_VALUE&powerField5=SOME_STRING_VALUE&powerField6=SOME_STRING_VALUE&powerField7=SOME_STRING_VALUE&powerField8=SOME_STRING_VALUE&birthDate=SOME_DATE_VALUE&loyaltyEnabled=SOME_BOOLEAN_VALUE&loyaltyAccrualMultiplier=SOME_NUMBER_VALUE&suppressReceipt=SOME_BOOLEAN_VALUE&checkFileMemo=SOME_STRING_VALUE&checkAcceptanceProfile=SOME_STRING_VALUE&membershipAccount=SOME_STRING_VALUE&billToAddressLine1=SOME_STRING_VALUE&billToAddressLine2=SOME_STRING_VALUE&billToAddressCity=SOME_STRING_VALUE&billToAddressStateProv=SOME_STRING_VALUE&billToAddressPostalCode=SOME_STRING_VALUE&billToAddressDescription=SOME_STRING_VALUE&billToEmailAddress=SOME_STRING_VALUE&billToEmailDescription=SOME_STRING_VALUE&billToEmailMarketing=SOME_BOOLEAN_VALUE&billToEmailReceipt=SOME_BOOLEAN_VALUE&billToPhoneNumber=SOME_STRING_VALUE&billToPhoneDescription=SOME_STRING_VALUE&membershipAccountJoined=2021-01-01&hideInLookup=false&membershipInactive=false&customerInactive=false&loyaltyProgram=&loyaltyPoints=1&householdMainCustomerId=&householdRelation=&householdCanRedeem=false&householdCanCharge=false&dependentsList=dependentsList%3DFriend%5CJohn%5C2022-01-05%5CPet%5CWilliam%5C&taxExemption=GA_Gizmonic%251dVA_Deep13&taxExemptionType=PF%26taxExemption%3DVA\"\n\n\treq, _ := http.NewRequest(\"PUT\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Javascript + Axios",
            "source": "import axios from \"axios\";\n\nconst options = {\n  method: 'PUT',\n  url: 'https://accountid.catapultweboffice.com/api/Customer',\n  params: {\n    apikey: 'BP82MIFJTSJ5EP4MQCBDW7WYYVV0RPQ0',\n    customerId: 'SOME_STRING_VALUE',\n    firstName: 'SOME_STRING_VALUE',\n    lastName: 'SOME_STRING_VALUE',\n    middleName: 'SOME_STRING_VALUE',\n    nickName: 'SOME_STRING_VALUE',\n    prefix: 'SOME_STRING_VALUE',\n    suffix: 'SOME_STRING_VALUE',\n    title: 'SOME_STRING_VALUE',\n    company: 'SOME_STRING_VALUE',\n    memo: 'SOME_STRING_VALUE',\n    automaticDiscount: 'SOME_STRING_VALUE',\n    automaticDiscountGroup: 'SOME_STRING_VALUE',\n    priceLevel: 'SOME_TINYINT_VALUE',\n    powerField1: 'SOME_STRING_VALUE',\n    powerField2: 'SOME_STRING_VALUE',\n    powerField3: 'SOME_STRING_VALUE',\n    powerField4: 'SOME_STRING_VALUE',\n    powerField5: 'SOME_STRING_VALUE',\n    powerField6: 'SOME_STRING_VALUE',\n    powerField7: 'SOME_STRING_VALUE',\n    powerField8: 'SOME_STRING_VALUE',\n    birthDate: 'SOME_DATE_VALUE',\n    loyaltyEnabled: 'SOME_BOOLEAN_VALUE',\n    loyaltyAccrualMultiplier: 'SOME_NUMBER_VALUE',\n    suppressReceipt: 'SOME_BOOLEAN_VALUE',\n    checkFileMemo: 'SOME_STRING_VALUE',\n    checkAcceptanceProfile: 'SOME_STRING_VALUE',\n    membershipAccount: 'SOME_STRING_VALUE',\n    billToAddressLine1: 'SOME_STRING_VALUE',\n    billToAddressLine2: 'SOME_STRING_VALUE',\n    billToAddressCity: 'SOME_STRING_VALUE',\n    billToAddressStateProv: 'SOME_STRING_VALUE',\n    billToAddressPostalCode: 'SOME_STRING_VALUE',\n    billToAddressDescription: 'SOME_STRING_VALUE',\n    billToEmailAddress: 'SOME_STRING_VALUE',\n    billToEmailDescription: 'SOME_STRING_VALUE',\n    billToEmailMarketing: 'SOME_BOOLEAN_VALUE',\n    billToEmailReceipt: 'SOME_BOOLEAN_VALUE',\n    billToPhoneNumber: 'SOME_STRING_VALUE',\n    billToPhoneDescription: 'SOME_STRING_VALUE',\n    membershipAccountJoined: '2021-01-01',\n    hideInLookup: 'false',\n    membershipInactive: 'false',\n    customerInactive: 'false',\n    loyaltyProgram: '',\n    loyaltyPoints: '1',\n    householdMainCustomerId: '',\n    householdRelation: '',\n    householdCanRedeem: 'false',\n    householdCanCharge: 'false',\n    dependentsList: 'dependentsList=Friend\\John\\2022-01-05\\Pet\\William\\',\n    taxExemption: 'GA_Gizmonic%1dVA_Deep13',\n    taxExemptionType: 'PF&taxExemption=VA'\n  }\n};\n\naxios.request(options).then(function (response) {\n  console.log(response.data);\n}).catch(function (error) {\n  console.error(error);\n});"
          }
        ]
      }
    },
    "/itemDetail": {
      "get": {
        "summary": "Detailed Search",
        "operationId": "get-item-detail",
        "tags": [
          "Items"
        ],
        "description": "<font color=\"#2F8132\">The Item Detail endpoint allows you to search for and retrieve information about a particular item, including promotional data. \nProvide the exact Item ID, the Receipt Alias, or a Conventional Item Group to perform a search. \nThe <code>itemSearch</code> parameter accepts **exact** text matches for Item IDs and **exact** or **begins with** text matches for the Receipt Alias or Conventional Item Group.\nExclude any search parameters to return all inventory records. \nPromotional details for an inventory record are returnable only if a provided <code>storeNumber</code> is correctly associated with an applicable Zone profile.\n\nResponses can be called from either the HQ or a RS Web Office address. \nNote API Keys do not replicate and must be re-created for an employee record in a target RS Web Office interface. \nThis RS-specific API Key can then be passed in the request header for authentication to that particular store.</font>",
        "parameters": [
          {
            "schema": null,
            "$ref": "#/components/parameters/0"
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 32
            },
            "in": "query",
            "name": "itemSearch",
            "description": "Accepts a Receipt Alias, the starting characters of a Receipt Alias, or an Item ID. Item ID must be an exact match.\n\nSee also: <a href=\"https://olm.ecrs.com/5-6/?page_id=398\">General tab (Inventory Maintenance)</a>.",
            "example": "401234567890"
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 30
            },
            "in": "query",
            "name": "groupSearch",
            "description": "Accepts a Conventional Item Group name or the starting characters of a Conventional Item Group name.\nReturns the item in itemSearch when both paramaters are provided.\n\nSee also: <a href=\"https://olm.ecrs.com/5-6/?page_id=1379\">Item Groups (Conventional Item Groups)</a>.",
            "example": "Bakery"
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 10
            },
            "in": "query",
            "name": "storeNumber",
            "description": "Accepts a Store Number to filter response data. The Store Number could represent a Headquarters (HQ) or Remote Store (RS). \nStores must have a Zone profile association to return promotional data. \nIf the <code>storeNumber</code> is not specified in the request query, then only data will be returned for the store where the query is being performed. For example, if you are running the API against the HQ CATAPULT location, and a <code>storeNumber</code> is not specified in the query, then only data from the HQ will be returned.\n\nSee also: <a href=\"https://olm.ecrs.com/5-6/?page_id=1089\">Zones (Profiles)</a>.",
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/itemDetail"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "root": {
                      "type": "object",
                      "properties": {
                        "row": {
                          "$ref": "#/components/schemas/itemDetail"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Simple XML Response": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<root>\n  <row itemId=\"999\"\n  storeName=\"Market 5\" \n  zoneName=\"Store Zone 2\"\n  receiptAlias=\"Gala Apple\" \n  itemName=\"GALA APPLE\" \n  department=\"Produce\"\n  subDepartment=\"Organic\"\n  category=\"\"\n  subCategory=\"\"\n  variety=\"\"\n  size=\"1 lb.\"\n  brand=\"Williamn Producers\"\n  loyaltyMultiplier=\"1.100\" \n  shelfLocation=\"11\"\n  shelfSequence=\"2\"\n  PricePL1=\"0.5000\" \n  priceDividerPL1=\"1\"\n  PricePL2=\"\" \n  priceDividerPL2=\"\"\n  PricePL3=\"\" \n  priceDividerPL3=\"\"\n  PricePL4=\"\" \n  priceDividerPL4=\"\"\n  promoPricePL1=\"\"\n  promoPriceDividerPL1=\"\"\n  promoPricePL2=\"\"\n  promoPriceDividerPL2=\"\"\n  promoPricePL3=\"\"\n  promoPriceDividerPL3=\"\"\n  promoPricePL4=\"\"\n  promoPriceDividerPL4=\"\"\n  lastCost=\"0.5000\" \n  averageCost=\"0.5000\" \n  onHand=\"125.000\",\n  onOrder=\"70.000\",\n  defaultSupplier=\"Catapult Industries\" \n  defaultSupplierUnitId=\"ca-1\" \n  defaultSupplierUnitQty=\"15.000\"\n  powerField1=\"Popular\"\n  storePowerField1=\"Not Popular\"\n  type=\"Stock Inventory\"\n  discontinued=\"1\"/>\n</root>"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/itemDetail"
                  }
                },
                "examples": {
                  "Simple CSV Response": {
                    "$ref": "#/components/examples/examples-GET-CSV"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/xml": {
                "examples": {
                  "Customer Not Found": {
                    "value": "{\"code\":2,\"message\":\"Invalid API Key.\"}"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://accountid.catapultweboffice.com/api/itemDetail?apikey=BP82MIFJTSJ5EP4MQCBDW7WYYVV0RPQ0&itemSearch=401234567890&groupSearch=Bakery&storeNumber=123'"
          },
          {
            "lang": "Java + Nethttp",
            "source": "HttpRequest request = HttpRequest.newBuilder()\n    .uri(URI.create(\"https://accountid.catapultweboffice.com/api/itemDetail?apikey=BP82MIFJTSJ5EP4MQCBDW7WYYVV0RPQ0&itemSearch=401234567890&groupSearch=Bakery&storeNumber=123\"))\n    .method(\"GET\", HttpRequest.BodyPublishers.noBody())\n    .build();\nHttpResponse<String> response = HttpClient.newHttpClient().send(request, HttpResponse.BodyHandlers.ofString());\nSystem.out.println(response.body());"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://accountid.catapultweboffice.com/api/itemDetail?apikey=BP82MIFJTSJ5EP4MQCBDW7WYYVV0RPQ0&itemSearch=401234567890&groupSearch=Bakery&storeNumber=123\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Javascript + Axios",
            "source": "import axios from \"axios\";\n\nconst options = {\n  method: 'GET',\n  url: 'https://accountid.catapultweboffice.com/api/itemDetail',\n  params: {\n    apikey: 'BP82MIFJTSJ5EP4MQCBDW7WYYVV0RPQ0',\n    itemSearch: '401234567890',\n    groupSearch: 'Bakery',\n    storeNumber: '123'\n  }\n};\n\naxios.request(options).then(function (response) {\n  console.log(response.data);\n}).catch(function (error) {\n  console.error(error);\n});"
          }
        ]
      }
    },
    "/allItems": {
      "get": {
        "summary": "View All",
        "operationId": "get-all-items",
        "tags": [
          "Items"
        ],
        "description": "<font color=\"#2F8132\">The All Items endpoint allows for the bulk retrieval of inventory records from your CATAPULT database.\nThe Item Detail endpoint (see previous) could be used to further refine details gleaned from responses to this endpoint.</font>",
        "parameters": [
          {
            "schema": null,
            "$ref": "#/components/parameters/0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "root": {
                      "type": "object",
                      "properties": {
                        "row": {
                          "$ref": "#/components/schemas/allItems"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Simple XML Response": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<root>\n  <row itemId=\"999\" \n  name=\"REAL MEDLEYS APPLE NUT HRVST BAR\"\n  receiptAlias=\"APPLE NUT HRVST BAR\"\n  unitOfMeasure=\"12 ea\"\n  departmentNumber=\"5\"\n  brand=\"QUAKER\"\n  powerField1=\"Fruit Bar Collection\"\n  subCategoryNumber=\"15\"\n  categoryNumber=\"45\"\n  variety=\"Harvest Bar\"\n  familyLine=\"Breakfast Bar\"/>\n</root>"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/allItems"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/allItems"
                  }
                },
                "examples": {
                  "Simple CSV Response": {
                    "$ref": "#/components/examples/components-examples-GET-CSV"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/xml": {
                "examples": {
                  "Customer Not Found": {
                    "value": "{\"code\":2,\"message\":\"Invalid API Key.\"}"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://accountid.catapultweboffice.com/api/allItems?apikey=BP82MIFJTSJ5EP4MQCBDW7WYYVV0RPQ0'"
          },
          {
            "lang": "Java + Nethttp",
            "source": "HttpRequest request = HttpRequest.newBuilder()\n    .uri(URI.create(\"https://accountid.catapultweboffice.com/api/allItems?apikey=BP82MIFJTSJ5EP4MQCBDW7WYYVV0RPQ0\"))\n    .method(\"GET\", HttpRequest.BodyPublishers.noBody())\n    .build();\nHttpResponse<String> response = HttpClient.newHttpClient().send(request, HttpResponse.BodyHandlers.ofString());\nSystem.out.println(response.body());"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://accountid.catapultweboffice.com/api/allItems?apikey=BP82MIFJTSJ5EP4MQCBDW7WYYVV0RPQ0\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Javascript + Axios",
            "source": "import axios from \"axios\";\n\nconst options = {\n  method: 'GET',\n  url: 'https://accountid.catapultweboffice.com/api/allItems',\n  params: {apikey: 'BP82MIFJTSJ5EP4MQCBDW7WYYVV0RPQ0'}\n};\n\naxios.request(options).then(function (response) {\n  console.log(response.data);\n}).catch(function (error) {\n  console.error(error);\n});"
          }
        ]
      }
    },
    "/TransactionJournal": {
      "get": {
        "summary": "View & Search",
        "operationId": "get-transactionJournal",
        "tags": [
          "Transaction Journal"
        ],
        "description": "<font color=\"#2F8132\">Use this method to retrieve information on available transaction records, either for all customers or specific customers. \nServer responses are provided in XML format by default and content of the response body is modeled after the v_TJTrans (T-Log view) structure.</font>",
        "parameters": [
          {
            "schema": null,
            "$ref": "#/components/parameters/0"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "name": "startTime",
            "description": "This parameter contains the start time. Only transactions which were inserted into the HQ T-Log database after this will be included in the output. This time should be in the following format: 2015-03-25T12:00:00 (ISO 8601).",
            "example": "2015-03-25T12:00:00",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "name": "endTime",
            "description": "This parameter contains the end time. Only transactions which were inserted into the HQ T-Log database before this will be included in the output. This time should  be in the following format: 2015-03-25T12:00:00 (ISO 8601).",
            "example": "2015-03-25T16:00:00",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 16
            },
            "in": "query",
            "name": "CustomerID",
            "description": "This parameter - available with CATAPULT 5.7.133 and newer - allows you to specify a Customer ID that you want to filter associated Transaction Journal information for. \n  * If the entered Customer ID parameter does not exactly match a corresponding record in the CATAPULT database, no results will be returned. \n  * If the Customer ID parameter is not sent in the query, all transactions within the specified date range will be returned. \n  * If the Customer ID parameter is empty (i.e., null), all transactions within the specified date range that do not have a customer associated to them will be returned.",
            "example": "4000000123456789"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "TransactionStatus",
            "description": "This parameter - available with CATAPULT 5.7.149 and newer - allows you to specify a desired (and eligible) Transaction Status to filter the transactions returned from the <code>transactionJournal</code> endpoint. \n\nThe following Transaction Statuses can be specified with this parameter:\n- <code>0</code> = Finalized Transactions\n- <code>1</code> = Training Mode\n- <code>3</code> = Suspended Transactions\n- <code>6</code> = Web Order Paid\n- <code>7</code> = Web Order\n- <code>10</code> = Order Pick Picking\n- <code>11</code> = Order Pick Ready\n- <code>12</code> = Picking in Progress\n- <code>13</code> = Fuel Pay Inside\n- <code>14</code> = Web Order Editing\n\nIf this query parameter is used but no Transaction Status code is specified, <code>0</code> will be used by default, which means only \"Finalized Transactions\" will be included in the response. \n\n**TIP:** This parameter can be used in conjunction with the <code>CustomerID</code> parameter to further filter the transactions returned with this endpoint.",
            "example": "10"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "AllVoid",
            "description": "This parameter - available with CATAPULT 5.7.149 and newer - allows you to filter for \"All Void\" transactions using the following options:\n- <code>0</code> = This option will **exclude** All Void transactions from the response. \n- <code>1</code> = This option will cause All Void transactions to be the only ones included in the response.\n\nIf this query parameter is used but neither option is specified, <code>0</code> will be used by default, which means \"All Void\" transactions will be excluded from the response.\n\n**TIP:** This parameter can be used in conjunction with the <code>CustomerID</code> parameter to further filter the transactions returned with this endpoint.",
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "root": {
                      "type": "object",
                      "properties": {
                        "row": {
                          "$ref": "#/components/schemas/transactionjournal"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Simple XML Response": {
                    "value": "<?xml version=\"1.0\" encoding=\"windows-1252\" ?>\n<root>\n    <row TRN_PK=\"18048\",\n    TRN_CPK=\"1002\",\n    TRN_STO_FK=\"3\",\n    TRN_STO_CFK=\"1000\",\n    TRN_StartTime=\"2016-01-06 10:37:20.870\",\n    TRN_EndTime=\"2016-01-06 10:37:20.870\",\n    TRN_ReceiptNumber=\"16029\",\n    TRN_Type=\"0\",\n    TRN_EMP_FK=\"4\",\n    TRN_EMP_CFK=\"1000\",\n    TRN_SequenceNumber=\"16029\",\n    TRN_TCF_FK=\"2\",\n    TRN_TCF_CFK=\"1002\",\n    TRN_CUS_FK=\"2\",\n    TRN_CUS_CFK=\"1000\",\n    TRN_AllVoid=\"0\",\n    TRN_UploadTime=\"2016-01-06 10:37:20.870\",\n    TRN_Status=\"0\",\n    TCF_Description=\"Terminal 1\",\n    TCF_Number=\"1\",\n    TCF_TerminalId=\"07325795\",\n    EMP_Number=\"99\",\n    EMP_FirstName=\"Self\",\n    EMP_LastName=\"Checkout\",\n    CUS_AccountNumber=\"4012345678900\",\n    CUS_FirstName=\"John\",\n    CUS_LastName=\"Smith\",\n    CUS_Company=\"ECRS\",\n    TLI_PK=\"1\",\n    TLI_LIT_FK=\"1\",\n    TLI_StartTime=\"2016-01-06 10:37:20.870\",\n    TLI_EndTime=\"2016-01-06 10:37:20.870\",\n    TLI_Amount=\"1.29\",\n    TLI_ReceiptAlias=\"Widget\",\n    TLI_Quantity=\"1.000\",\n    TLI_ScanCode=\"212345678901\",\n    TLI_TaxDifference=\"1.29\",\n    ExtendedPrice=\"1.29\",\n    ExtendedBasePrice=\"1.29\",\n    CTI_CMB_FK=0,\n    CTI_CMB_CFK=0,\n    CTI_DiscountAmount=null,\n    CTI_SellingAmount=null,\n    CTI_TLI_FK_Item=\"1\",\n    CMB_Name=\"string\",\n    CPT_Void=\"0\",\n    DLI_TypeDollar=true,\n    DLI_TypePercent=true,\n    DLI_LineItem=\"string\",\n    DLI_DIS_FK=0,\n    DLI_Void=\"0\",\n    DLI_DIS_CFK=0,\n    DLI_ApplyBeforeTax=\"0\",\n    DLI_Return=\"0\",\n    DLI_INV_FK=\"1\",\n    DLI_INV_CFK=\"1000\",\n    DLI_Automatic=\"0\",\n    DLI_ASC_FK=\"1\",\n    DLI_ASC_CFK=\"1000\",\n    DLI_InventoryLineItem=\"3\",\n    DLI_ReportConsolidated=\"0\",\n    ITI_AverageCost=\"1.29\",\n    ITI_EntryMethod=\"1\",\n    ITI_Return=\"0\",\n    ITI_INV_FK=\"1\",\n    ITI_Void=true,\n    ITI_INV_CFK=\"1000\",\n    ITI_SellingPrice=\"1.29\",\n    ITI_BasePrice=\"string\",\n    ITI_ASC_FK=\"1\",\n    ITI_ASC_CFK=\"1000\",\n    ITI_ASCQuantity=\"1.00\",\n    ITI_PriceLevel=\"1\",\n    ITI_DiscountPriceOverride=\"1\",\n    DPT_Name=\"Grocery\",\n    DPT_Number=\"99\",\n    DPT_OmitFromSales=\"0\",\n    TTI_TAX_FK=\"1000\",\n    TTI_TAX_CFK=\"1000\",\n    TTI_ReturnTax=\"0\",\n    TTI_TaxableAmount=\"1.29\",\n    NTI_TEN_FK=\"1\",\n    NTI_TEN_CFK=\"1000\",\n    NTI_AuthorizationCode=\"string\",\n    TRN_ETI_AccountName=\"string\",\n    TRN_ETI_AccountNumber=\"stri\",\n    TRN_ETI_CardType=\"strin\",\n    TRN_ETI_TenderAmount=\"1.29\",\n    NTI_TenderType=\"2\",\n    NTI_Amount=\"1.2900\",\n    NTI_Void=\"0\",\n    NTI_SafeDrop=\"1\",\n    NTI_Loan=\"1\",\n    NTI_FCExchangeRate=\"0.76\",\n    NTI_FCTenderAmount=\"1.29\",\n    NTI_ForeignCurrency=\"0\",\n    TEN_PK=\"1\",\n    TEN_CPK=\"1000\",\n    TEN_Description=\"Cash\",\n    CTI_BonusAmount=\"1.29\",\n    CTI_EntryMethod=\"1\",\n    CTI_Void=\"0\",\n    CTI_ManufacturerCode=\"string\",\n    CTI_FamilyCode=\"string\",\n    CTI_CouponCode=\"string\",\n    SalespersonFK=\"1\",\n    SalespersonCFK=\"1000\",\n    GCT_Void=\"0\",\n    LTN_Start1=\"string\",\n    LTN_End1=\"string\",\n    LTN_Start2=\"string\",\n    LTN_End2=\"string\",\n    LTN_Start3=\"string\",\n    LTN_End3=\"string\",\n    LTN_Start4=\"string\",\n    LTN_End4=\"string\",\n    LTN_Start5=\"string\",\n    LTN_End5=\"string\",\n    LTN_Start6=\"string\",\n    LTN_End6=\"string\",\n    LTN_AddtlRanges=\"string\",\n    TRN_Total=\"string\",\n    TRN_NetSales=\"string\",\n    TRN_ItemQuantity=\"string\",\n    TRN_ItemCorrects=\"string\",\n    TRN_Negatives=\"string\",\n    StoreNumber=\"string\",\n    TRN_ETI_Approval=\"string\",\n    TRN_ETI_Reference=\"string\",\n    TRN_ETI_RemainingBalance=\"string\",\n    TRN_ETI_CvvResult=\"s\",\n    TRN_ETI_AvsResult=\"s\",\n    TRN_ETI_Bin=\"string\",\n    TRN_ETI_AuthorizationDate=\"string\",\n    TRN_ETI_AuthorizationTime=\"string\",\n    TRN_ETI_AuthorizationType=\"string\",\n    TRN_ETI_AuthorizationStan=\"string\",\n    CTI_ApplyToFoodstamps=true,\n    CTI_ApplyToFSA=true,\n    CTI_CouponBarcode=\"string\",\n    CTI_ProviderId=\"string\",\n    CTI_FaceValue=\"string\",\n    NTI_CHG_FK=0,\n    NTI_CHG_CFK=0,\n    NTI_TLI_CashBack=0,\n    TLI_Divider=0,\n    ITI_BasePriceDivider=0,\n    ITI_PL1BasePriceDivider=0,\n    ITI_WeightEntryMethod=0,\n    ITI_TareEntryMethod=0,\n    ITI_Pl1BasePrice=\"string\",\n    ITI_Pl1PromptForPrice=true,\n    ITI_TareWeight=\"string\",\n    ITI_EmbeddedPrice=\"string\",\n    ITI_SpecialPricing=true,\n    ITI_Variation=0,\n    ITI_LinkType=0,\n    ITI_ModQuantity=\"string\",\n    ITI_ModPrice=\"string\",\n    ITI_EmbeddedDiscount=\"string\",\n    ITI_FSA=true,\n    ITI_SNAP=true,\n    ITI_WeightUnit=0,\n    PromptName=\"string\",\n    PromptResponse=\"string\",\n    PromptItem=0,\n    CTI_Expiration=\"string\",\n    ITI_MarkdownBarCode=\"string\",\n    ITI_TLI_LinkLineItem=0,\n    ComboTotalLoyaltyProgram=\"string\",\n    ComboTotalStoreCouponName=\"string\",\n    CTH_Voided=true,\n    CTH_EarnedLoyalty=\"string\",\n    LoyaltyTransactionLoyaltyProgram=\"string\",\n    LoyaltyTransactionStoreCouponName=\"string\",\n    LTI_Expiring=\"string\",\n    LTI_ExpirationDate=\"string\",\n    CTI_ComboTotalLineItem=0,\n    ComboOmitFromSales=true,\n    CMB_ApplyAfterTaxes=true,\n    STI_Status=0,\n    EMD_SequenceNumber=0,\n    EMD_TransactionSequenceNumber=0,\n    EMD_Time=\"string\",\n    EMD_Tender=\"string\",\n    EMD_TLI_FK=0,\n    EMD_5A=\"string\",\n    EMD_82=\"stri\",\n    EMD_84=\"string\",\n    EMD_9A=\"string\",\n    EMD_9F21=\"string\",\n    EMD_9C=\"st\",\n    EMD_5F34=\"st\",\n    EMD_5F2A=\"str\",\n    EMD_9F02=\"string\",\n    EMD_9F03=\"string\",\n    EMD_9F08=\"stri\",\n    EMD_9F09=\"stri\",\n    EMD_9F1A=\"str\",\n    EMD_9F33=\"string\",\n    EMD_9F34=\"string\",\n    EMD_9F35=\"st\",\n    EMD_9F36=\"stri\",\n    EMD_9F37=\"string\",\n    EMD_9F0D=\"string\",\n    EMD_9F0E=\"string\",\n    EMD_9F0F=\"string\",\n    EMD_TACD=\"string\",\n    EMD_TACO=\"string\",\n    EMD_TACF=\"string\",\n    EMD_95_1GEN=\"string\",\n    EMD_9F10_1GEN=\"string\",\n    EMD_9F26_1GEN=\"string\",\n    EMD_9F27_1GEN=\"st\",\n    EMD_91=\"string\",\n    EMD_95_2GEN=\"string\",\n    EMD_9F26_2GEN=\"string\",\n    EMD_9F27_2GEN=\"st\",\n    EMD_8A=\"stri\",\n    EMD_9B=\"stri\",\n    EMD_AppName=\"string\",\n    EMD_CardEntryMethod=\"string\",\n    EMD_CardVerMethod=\"string\",\n    EMD_Mode=\"string\",\n    EMD_9F06=\"string\",\n    ITI_RetailAccountingPrice=\"string\",\n    ITI_RetailAccountingReportCode=\"string\",\n    GCT_GCP_FK=0,\n    GCT_GCP_CFK=0,\n    GCT_Code=\"str\",\n    GCT_Account=\"string\",\n    GCT_SendDate=\"string\",\n    GCT_Print=true,\n    GCT_RecipientEmail=\"string\",\n    GCT_RecipientPhoneNumber=\"string\",\n    GCT_RecipientName=\"string\",\n    GCT_SenderName=\"string\",\n    TRN_WTR_FK=0,\n    TRN_WTR_CFK=0,\n    TRN_ETI_ExpDate=\"strin\",\n    TRN_ETI_CardSwiped=true,\n    TRN_ETI_Processor=\"string\"/>\n</root>"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/transactionjournal"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/transactionjournal"
                  }
                },
                "examples": {
                  "Simple CSV Response": {
                    "$ref": "#/components/examples/transactionjournal_components-examples-GET-CSV"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/xml": {
                "examples": {
                  "Bad Request": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<SQLerror message=\"Cannot convert &#39;2015-0325T16:00:00&#39; to timestamp\"/>"
                  }
                }
              },
              "application/json": {
                "examples": {
                  "jsonObject": {
                    "value": {
                      "code": 4,
                      "message": "Cannot convert &#39;2015-0325T16:00:00&#39; to timestamp"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://accountid.catapultweboffice.com/api/TransactionJournal?apikey=BP82MIFJTSJ5EP4MQCBDW7WYYVV0RPQ0&startTime=2015-03-25T12%3A00%3A00&endTime=2015-03-25T16%3A00%3A00&CustomerID=4000000123456789&TransactionStatus=10&AllVoid=1'"
          },
          {
            "lang": "Java + Nethttp",
            "source": "HttpRequest request = HttpRequest.newBuilder()\n    .uri(URI.create(\"https://accountid.catapultweboffice.com/api/TransactionJournal?apikey=BP82MIFJTSJ5EP4MQCBDW7WYYVV0RPQ0&startTime=2015-03-25T12%3A00%3A00&endTime=2015-03-25T16%3A00%3A00&CustomerID=4000000123456789&TransactionStatus=10&AllVoid=1\"))\n    .method(\"GET\", HttpRequest.BodyPublishers.noBody())\n    .build();\nHttpResponse<String> response = HttpClient.newHttpClient().send(request, HttpResponse.BodyHandlers.ofString());\nSystem.out.println(response.body());"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://accountid.catapultweboffice.com/api/TransactionJournal?apikey=BP82MIFJTSJ5EP4MQCBDW7WYYVV0RPQ0&startTime=2015-03-25T12%3A00%3A00&endTime=2015-03-25T16%3A00%3A00&CustomerID=4000000123456789&TransactionStatus=10&AllVoid=1\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Javascript + Axios",
            "source": "import axios from \"axios\";\n\nconst options = {\n  method: 'GET',\n  url: 'https://accountid.catapultweboffice.com/api/TransactionJournal',\n  params: {\n    apikey: 'BP82MIFJTSJ5EP4MQCBDW7WYYVV0RPQ0',\n    startTime: '2015-03-25T12:00:00',\n    endTime: '2015-03-25T16:00:00',\n    CustomerID: '4000000123456789',\n    TransactionStatus: '10',\n    AllVoid: '1'\n  }\n};\n\naxios.request(options).then(function (response) {\n  console.log(response.data);\n}).catch(function (error) {\n  console.error(error);\n});"
          }
        ]
      }
    },
    "/CustomerStoreCoupon": {
      "get": {
        "summary": "Customer Store Coupon",
        "description": "<font color=\"#2F8132\">Use **GET** to obtain a list of Store Coupons attached to a customer maintenance record.</font>",
        "parameters": [
          {
            "schema": null,
            "$ref": "#/components/parameters/0"
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 16
            },
            "in": "query",
            "name": "customerId",
            "description": "See also: <a href=\"https://olm.ecrs.com/5-6/?page_id=534#CustomerID\">Customer ID</a>."
          }
        ],
        "tags": [
          "Maintenance Profiles"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "root": {
                      "type": "object",
                      "properties": {
                        "row": {
                          "type": "object",
                          "properties": {
                            "customerId": {
                              "type": "string",
                              "example": "1234567",
                              "description": "The unique ID for the customer in the associated row."
                            },
                            "couponCode": {
                              "type": "string",
                              "example": "V8>OS1",
                              "description": "The code used by the coupon in the associated row."
                            },
                            "couponReceiptAlias": {
                              "type": "string",
                              "description": "The receipt alias used by the coupon in the associated row."
                            },
                            "couponName": {
                              "type": "string",
                              "description": "The coupon name."
                            },
                            "couponExpires": {
                              "type": "date",
                              "description": "The coupon expiration date, if set."
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Simple XML Response": {
                    "value": "<?xml version='1.1' encoding='UTF-8'?>\n<root>\n    <row customerId=\"1234567\" \n      couponCode=\"V8>OS1\" \n      couponReceiptAlias=\"\" \n      couponName=\"Household Coupon\" \n      couponExpires=\"\"/>\n    <row customerId=\"1234567\" \n      couponCode=\"V8>ORS\" \n      couponReceiptAlias=\"\" \n      couponName=\"Household Coupon Category\" \n      couponExpires=\"\"/>\n    <row customerId=\"1234567\" \n      couponCode=\"V8>OSC\" \n      couponReceiptAlias=\"\" \n      couponName=\"Household Special\" \n      couponExpires=\"\"/>\n</root>"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "customerId": {
                        "type": "string",
                        "example": "1234567",
                        "description": "The unique ID for the customer in the associated row."
                      },
                      "couponCode": {
                        "type": "string",
                        "example": "V8>OS1",
                        "description": "The code used by the coupon in the associated row."
                      },
                      "couponReceiptAlias": {
                        "type": "string",
                        "example": "Household Coupon",
                        "description": "The receipt alias used by the coupon in the associated row."
                      },
                      "couponName": {
                        "type": "string",
                        "description": "The coupon name."
                      },
                      "couponExpires": {
                        "type": "date",
                        "description": "The coupon expiration date, if set."
                      }
                    }
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "customerId": {
                        "type": "string",
                        "example": "1234567",
                        "description": "The unique ID for the customer in the associated row."
                      },
                      "couponCode": {
                        "type": "string",
                        "example": "V8>OS1",
                        "description": "The code used by the coupon in the associated row."
                      },
                      "couponReceiptAlias": {
                        "type": "string",
                        "description": "The receipt alias used by the coupon in the associated row."
                      },
                      "couponName": {
                        "type": "string",
                        "description": "The coupon name."
                      },
                      "couponExpires": {
                        "type": "date",
                        "description": "The coupon expiration date, if set."
                      }
                    }
                  }
                },
                "examples": {
                  "Simple CSV Response": {
                    "value": "\n'customerId','couponCode','couponReceiptAlias','couponName','couponExpires'\n'1234567','V8>OS1','','Household Coupon',''\n'1234567','V8>ORS','','Household Coupon Category',''\n'1234567','V8>OSC','','Household Special',''"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/xml": {
                "examples": {
                  "Customer Not Found": {
                    "value": "{\"code\":2,\"message\":\"Invalid API Key.\"}"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-CustomerStoreCoupon",
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://accountid.catapultweboffice.com/api/CustomerStoreCoupon?apikey=BP82MIFJTSJ5EP4MQCBDW7WYYVV0RPQ0&customerId=SOME_STRING_VALUE'"
          },
          {
            "lang": "Java + Nethttp",
            "source": "HttpRequest request = HttpRequest.newBuilder()\n    .uri(URI.create(\"https://accountid.catapultweboffice.com/api/CustomerStoreCoupon?apikey=BP82MIFJTSJ5EP4MQCBDW7WYYVV0RPQ0&customerId=SOME_STRING_VALUE\"))\n    .method(\"GET\", HttpRequest.BodyPublishers.noBody())\n    .build();\nHttpResponse<String> response = HttpClient.newHttpClient().send(request, HttpResponse.BodyHandlers.ofString());\nSystem.out.println(response.body());"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://accountid.catapultweboffice.com/api/CustomerStoreCoupon?apikey=BP82MIFJTSJ5EP4MQCBDW7WYYVV0RPQ0&customerId=SOME_STRING_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Javascript + Axios",
            "source": "import axios from \"axios\";\n\nconst options = {\n  method: 'GET',\n  url: 'https://accountid.catapultweboffice.com/api/CustomerStoreCoupon',\n  params: {apikey: 'BP82MIFJTSJ5EP4MQCBDW7WYYVV0RPQ0', customerId: 'SOME_STRING_VALUE'}\n};\n\naxios.request(options).then(function (response) {\n  console.log(response.data);\n}).catch(function (error) {\n  console.error(error);\n});"
          }
        ]
      },
      "put": {
        "summary": "Customer Store Coupon",
        "description": "<font color=\"#95507C\">Use **PUT** to attach new Store Coupons on a customer record or change the expiry date on existing ones. Responses are sorted to display the most recent coupon attachments at the top.</font>",
        "parameters": [
          {
            "schema": null,
            "$ref": "#/components/parameters/0"
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 16
            },
            "in": "query",
            "name": "customerId",
            "description": "See also: <a href=\"https://olm.ecrs.com/5-6/?page_id=534#CustomerID\">Customer ID</a>.",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "couponCode",
[...]
